.passed {

  // .passed__list

  &__list {
    overflow-y: scroll;
    max-height: 300px;
    padding-right: 30px;  
  }

  // .passed__list-item

  &__list-item {
    padding: 0 8px 8px 8px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
