* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

span {
  text-align-last: left;
  display: block;
}
